.main-scroll {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cover {
    position: relative;
    width: 90%;
    height: 50%;
}

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;

}

.jumbotron-bg {
    background-image: url(./img/Burger\ jumbotrom\ pic.avif);
    color: white;
    height: 1000px;
    background-size: cover;
}

.child {
    min-width: 600px;
    height: 400px;
    margin: 1px 10px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
}

.child-img {
    width: 100%;
    height: 100%;
}

#contact {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  #contact {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  #contact h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }
  
  #contact form {
    display: inline-block;
    margin-bottom: 2em;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
  }
  
  .form-group label {
    font-weight: bold;
    margin-bottom: 0.5em;
  }
  
  #contact input[type="text"],
  #contact input[type="email"],
  #contact textarea {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 100%;
  }
  
  #contact button[type="submit"] {
    padding: 0.5em 1em;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #contact button[type="submit"]:hover {
    background-color: #286090;
  }
  
  .col-form-label {
    font-weight: bold;
  }
  
  .form-control {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 80%;
  }
  
  .form-group .btn-primary {
    padding: 0.5em 1em;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 1em;
  }
  
  .form-group .btn-primary:hover {
    background-color: #286090;
  }