* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    height: 100vh;
    background-color: gray;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-scroll {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cover {
    position: relative;
    width: 90%;
    height: 50%;
}

.scroll-images {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    align-items: center;
    overflow: auto;

}

.jumbotron-bg {
    background-image: url(./img/Burger\ jumbotrom\ pic.avif);
    color: white;
    height: 1000px;
    background-size: cover;
}

.child {
    min-width: 600px;
    height: 400px;
    margin: 1px 10px;
    cursor: pointer;
    border: 1px solid white;
    overflow: hidden;
}

.child-img {
    width: 100%;
    height: 100%;
}